##############################
## Gradle
##############################
.gradle/
build/
bin/

##############################
## Visual Studio Code
##############################
.vscode/

##############################
## Eclipse
##############################
.classpath
.project
.settings


##############################
## File system
##############################
.directory
